@charset "utf-8";
/* CSS Document */
body{
	background-image: url(2-traingle-black-pattern.jpg);
	background-repeat:repeat;
	margin:0;
	
	
	}
header{
	width: 100%;
	height: 100px;
	background-color: #2E3863;
	font-size: 14pt;
}
